
snippet hd "insert file header"
/**
 *  ${1: `!v g:mcge_custom_copyright`}
 *
 * File:          ${2: `!v expand("%:t")`}
 * Author:        ${3: `!v g:mcge_custom_author`}
 * Email:         ${4: `!v g:mcge_custom_email`}
 * Description:   $0 
 * Create Date:   ${5: `!v strftime("%Y-%m-%d %H:%M:%S")`}
 * Last Modified: ${6: `!v strftime("%Y-%m-%d %H:%M:%S")`}
 *
 */

endsnippet
