[submodule "vim-airline"]
	path = pack/mcge/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim-which-key"]
	path = pack/mcge/start/vim-which-key
	url = git@github.com:liuchengxu/vim-which-key.git
[submodule "ale"]
	path = pack/mcge/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim-airline-themes"]
	path = pack/mcge/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "gruvbox"]
	path = pack/mcge/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "vim-startify"]
	path = pack/mcge/start/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule "vim-devicons"]
	path = pack/mcge/start/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "coc"]
	path = pack/mcge/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
	branch = release
[submodule "vim-surround"]
	path = pack/mcge/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim-fugitive"]
	path = pack/mcge/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "fzf.vim"]
	path = pack/mcge/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "fzf"]
	path = pack/mcge/start/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "fzfx"]
	path = pack/mcge/start/fzfx
	url = git@github.com:linrongbin16/fzfx.vim.git
